# Copy this file to /etc/systemd/system/
# Use 
#  $ sudo systemctl enable momyne.service
# to enable. And then use:
#  $ sudo systemctl start momyne 
# to start it

[Unit]
Description=momyne

# Start the js-file starting the express server
ExecStart=/usr/bin/node <momyne>/./bin/www
WorkingDirectory=<momyne>
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Express
# Change to a non-root user (optional, but recommended)
#User=<alternate user>
#Group=<alternate group>
# Set environment options
Environment=NODE_ENV=production PORT=<momyne_port>

[Install]
WantedBy=multi-user.target